@import 'microtip';

/* workaround for https://github.com/ghosh/microtip/issues/12#issuecomment-1062226599 */
[aria-label][role~="tooltip"]:not(:hover):focus::before,
[aria-label][role~="tooltip"]:not(:hover):focus::after {
  opacity: 0;
}

#map {
  border: 1px solid black;
  display: inline-block;
}

#tape {
  display: inline-block;
  vertical-align: top;
}

.south {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

body {
  width: 860px;
}

.frame {
  margin-bottom: 13px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.units-frame {
  gap: 10px;
  align-items: flex-start;
}

.controls-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 64px;
}

.controls-row button {
  padding: 1px 6px;
  margin-bottom: 0;
}

.controls-placeholder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.units-column {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.units-row {
  display: flex;
  gap: 10px;
}

.mm3-row {
  margin-top: 10px;
}

.footer {
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8em;
}

.UnitButton .overlay {
  position: absolute;
  right: 0;
  top: 0;
}